---
import Layout from "../layouts/Layout.astro";
import SectionHeading from "../components/common/SectionHeading.astro";
import WavyDivider from "../components/common/WavyDivider.astro";
import LinkList from "../components/common/LinkList.astro";
import { getCollection } from "astro:content";
import dojosData from "../data/dojos.yaml";
import Image from "../components/common/Image.astro";

const dojoSections = dojosData.dojoLinks;
const instructorsCollection = await getCollection('instructors');
const instructors = instructorsCollection.map(i => i.data);
const contact = { email: 'radet@adg-aikido.se', description: 'Du kan kontakta instruktörerna på' };
---

<Layout
  title="Klubben - Aikido Dojo Gamlestaden"
  description="Information om Aikido Dojo Gamlestaden, våra instruktörer och aikidovänner runt om i världen."
>
  <main class="container mx-auto max-w-6xl">
    <!-- Dojon Section -->
    <section class="overflow-auto px-2 pt-4 pb-8">
      <SectionHeading level="h1">Dojon</SectionHeading>

      <div class="mt-3 flow-root">
        <div class="float-left mr-2 w-fit max-w-xs sm:mr-4">
          <Image src="/assets/adg-dojon.jpg" alt="Photo of the inside of the dojo, showing a large matted area." />
        </div>

        <div class="space-y-5">
          <p>
            <strong class="font-bold">Aikido Dojo Gamlestaden</strong> är en ideell
            förening som startades 1989. Föreningens mål är att skapa god Aikido och
            en trevlig samvaro inom föreningens ramar. Vi har vuxen-, barn- och ungdomsträning
            i flera nivåer och ett träningsråd med höggraderade instruktörer som leder
            och planerar verksamheten.
          </p>
          <p>
            Vi finns på Byfogdegatan 3B i en väldigt fin lokal anpassad för
            verksamheten. Träningens innehåll och andan i klubben är viktigast
            för oss. Vi strävar efter att hålla hög nivå på både aikido och
            trivsel!
          </p>
        </div>
      </div>

      <SectionHeading level="h2" class="mt-12">Huvudinstruktörer</SectionHeading
      >

      <div class="mt-3 flow-root">
        <div class="float-right ml-2 max-w-xs sm:ml-4">
          <Image src="/assets/hemsida1.jpg" alt="Two aikido instructors performing a technique." />
        </div>

        <div>
          <ul class="mb-5 list-none space-y-1">
            {instructors.map((instructor) => (
              <li>
                {instructor.name}, {instructor.rank} ({instructor.groups.join(", ")})
              </li>
            ))}
          </ul>
          <p>
            {contact.description}
            <a href={`mailto:${contact.email}`} class="link link-primary">
              {contact.email}
            </a>
          </p>
        </div>
      </div>
    </section>

    <!-- Wavy Divider -->
    <WavyDivider />

    <!-- Aikido Friends Section -->
    <section class="overflow-auto px-2 pt-4 pb-8">
      <SectionHeading level="h2">Några aikidovänner</SectionHeading>

      <div class="mt-3">
        {
          dojoSections.map((section) => (
            <>
              {section.section === "Aikido Friends" && (
                <>
                  <LinkList
                    items={section.links}
                    columns={1}
                  />
                </>
              )}

              {section.section === "Svenska dojos" && (
                <>
                  <h3 class="font-serif text-2xl font-bold mt-8 mb-6">
                    Svenska dojos
                  </h3>
                  <LinkList
                    items={section.links}
                    columns={3}
                  />
                </>
              )}

              {section.section === "CAA-dojos" && (
                <>
                  <h3 class="font-serif text-2xl font-bold mt-8 mb-6">
                    CAA-dojos
                  </h3>
                  <LinkList
                    items={section.links}
                    columns={3}
                  />
                </>
              )}
            </>
          ))
        }
      </div>
    </section>

  <div class="hidden relative aspect-square w-50 z-20 rounded-3xl 
              before:absolute before:-inset-0.5 before:-z-10 before:animate-autoRotate before:rounded-[inherit] before:bg-[conic-gradient(from_var(--deg)_at_center,transparent_80%,#6300c6_86%,tranparent)] before:blur-xs
              after:absolute after:-inset-0.5 after:-z-10 after:animate-autoRotate after:rounded-[inherit] after:bg-[conic-gradient(from_var(--deg)_at_center,transparent_80%,#6300c6_86%,transparent)] after:blur-xs">
    <p class="h-full w-full rounded-[inherit] bg-base-300 p-4 text-amber-200">hello</p>
  </div>

  </main>
</Layout>
