---
export interface Props {
  title: string;
  subtitle?: string;
  description?: string;
  amount: string | number;
  unit?: string;
  class?: string;
}

const { 
  title, 
  subtitle, 
  description,
  amount, 
  unit = 'kr',
  class: className 
} = Astro.props;
---

<div class:list={[
  "card card-border bg-base-100 shadow-md h-full",
  className
]}>
  <div class="card-body flex-row justify-between items-center p-4">
    <div class="flex flex-col">
      <span class="card-title text-base">{title}</span>
      {subtitle && (
        <span class="text-xs opacity-60">{subtitle}</span>
      )}
      {description && (
        <span class="text-sm opacity-60">{description}</span>
      )}
    </div>
    <div class="divider divider-horizontal divider-primary"></div>
    <span class="flex flex-col text-center text-lg">
      <span class="font-bold">{amount}</span>
      <span class="text-xs opacity-60">{unit}</span>
    </span>
  </div>
</div>
