---
export interface Props {
  day: string;
  sessions: Array<{
    startTime: string;
    endTime: string;
    title: string;
    subtitle?: string;
    instructors?: string;
    color: 'primary' | 'accent';
  }>;
}

const { day, sessions } = Astro.props;

const colorClasses = {
  primary: 'border-l-primary',
  accent: 'border-l-accent'
};
---

<div class="card card-border bg-base-100/50 shadow-md backdrop-blur-sm">
  <div class="card-body p-0">
    <h3 class="card-title justify-center py-2 mx-6 border-b border-primary">
      {day}
    </h3>
    <ul class="p-1 pb-2">
      {sessions.map((session) => (
        <li class:list={[
          "card card-border bg-base-100 m-1 border-l-8",
          colorClasses[session.color]
        ]}>
          <div class="card-body p-2 gap-1">
            <div class="flex justify-between">
              <span class="font-bold">{session.startTime}</span>
              <span class="opacity-60">{session.endTime}</span>
            </div>
            <div class="text-center font-semibold" set:html={session.title} />
            <div class="text-sm text-center opacity-50">
              {session.subtitle ? session.subtitle : '\u00A0'}
            </div>
            {session.instructors && (
              <div class="text-xs text-right opacity-40">{session.instructors}</div>
            )}
          </div>
        </li>
      ))}
    </ul>
  </div>
</div>
